<!--taking the html from the match page-->

<%= javascript_include_tag "matchscript.js" %>

<div>
  <table class="matches">
    <tr>
      <% @matches.each do |match| %>
        <%= render 'match', match: match %>
      <% end %>
    </tr>
  </table>
</div>
