body {
	text-align: center;
	background-color: #8ab6c7;
}

input {
	width: 50%;
}

span { /*for username display*/
	font-weight: bold;
}

h1 {
	font-family: calibri, sans-serif;
}

p {
	font-family: calibri, sans-serif;
}

#logo {
	width: 30%;
}

.chatwindow {
	width: 50%;
	height: 20em;
	margin: 0 auto;
	border: 2px solid grey;
	border-radius: 7px;
	padding: 5px 5px 5px 5px;
	line-height: 1.5;
	text-align: left;
	background-color: white;
	overflow: auto;
	font-family: calibri, serif;
}

input {
	border: 2px solid grey;
	border-radius: 7px;
	width: 50%;
	padding: 5px 5px 5px 5px;
}

.footer {
	margin-top: 20px;
}

.matches { /* the table */
	width: 90%;
	margin: 0 auto;
	table-layout: fixed;
	background-color: white;

}

.percentage {
	width: 0%;
	background-color: #3780cf;

}

.bar {
	width: 100%;
	font-size: .9em;
	color: white;
	font-family: calibri, serif;
	border: 1px solid grey;
	text-align: left;

	
}
.snippet {
	font-size: .9em;
	font-family: calibri, serif;
	width: 85%;
	text-align: left;
	margin-left: 15%;
	line-height: 1.5;
}

.matches td {
	padding: 2%;
	vertical-align: top;
}
